.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('../images/furley_bg.png') fixed;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#fd-forkme-ribbon img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.fd-logo {
  min-height: 200px;
  background: url('../images/logo.png') no-repeat center;
  background-size: 100%;
}

.jumbotron {
  padding: 40px;
  background-color: #fff;
}

.jumbotron blockquote {
  font-size: 14px;
  line-height: 0.9em;
}

#fd-share-buttons {
  float: right;
  margin-top: -20px;
}

.fb-share-button > span {
  vertical-align: inherit !important;
}

#fd-installer {
  display: none;
}

.fd-download-subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

#fd-version {
  display: none;
}

.fd-released {
  font-size: x-small;
}

th {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left;
}

.fd-commitmessage {
  word-wrap: break-word;
}

.fd-commitname {
  width: 20%;
}

.fd-commitdate {
  width: 20%;
}

.fd-commitmessage, .fd-commitname, .fd-commitdate {
  border-bottom: dotted thin #e1e1e8;
}

.fd-screenshots-thumb {
  text-align: center;
}

.modal.fade.in {
  top: 5%;
}

.modal-body {
  overflow-y: auto;
  max-height: 400px;
}

.modal-header, .modal-footer {
  padding-top: 3px;
  padding-bottom: 3px;
}

#fd-screenshot-header-platform a {
  font-size: 14px;
}

#fd-slideshow-dialog .modal-body {
  max-height: 800px;
}

#fd-slideshow-dialog #myCarousel {
  margin-bottom: 0;
}

.fd-screenshots-carousel #myCarousel .carousel-control {
  display: none;
}

.fd-screenshots-carousel #myCarousel:hover .carousel-control {
  display: block;
}

.fd-screenshots-carousel .item {
  text-align: center;
}

.fd-screenshots-carousel .item > a {
  display: block;
}

.fd-screenshots-carousel .item > a > img {
  display: inline;
  margin: 0 auto;
}

.fd-screenshots-carousel .item .carousel-caption {
  background-color: rgba(0, 0, 0, 0.60);
  display: none;
  left: 0;
  right: 0;
  border-radius: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.fd-screenshots-carousel .item:hover .carousel-caption {
  display: block;
}

#fd-hidden-slides {
  display: none;
}

.fd-empty-documentation {
  min-height: 25em;
}

footer p {
  text-align: center;
}

.fd-footer-credits {
  float: left;
}

.fd-footer-copyright {
  float: right;
}

/* Large desktop */
@media (min-width: 1200px) {
  #fd-forkme-ribbon {
    display: inline;
  }

  #fd-forkme-menu {
    display: none;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .fd-logo {
    min-height: 180px;
  }

  #fd-forkme-ribbon {
    display: inline;
  }

  #fd-forkme-menu {
    display: none;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .fd-logo {
    min-height: 160px;
  }

  #fd-forkme-ribbon {
    display: inline;
  }

  #fd-forkme-menu {
    display: none;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .fd-logo {
    min-height: 120px;
  }

  #fd-forkme-ribbon {
    display: none;
  }

  #fd-forkme-menu {
    display: inline;
  }

  .fd-footer-credits, .fd-footer-copyright {
    float: none;
    display: block;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .fd-logo {
    min-height: 100px;
  }

  .jumbotron {
    padding: 10px;
    line-height: 25px;
  }

  .jumbotron blockquote {
    padding: 10px 8px;
  }

  .carousel-caption h4 {
    font-size: 16px;
  }

  .modal-body {
    max-height: 250px;
  }

  .fd-commitmessage, .fd-commitname, .fd-commitdate {
    font-size: 10px;
  }

  .fd-commitdate {
    display: none;
  }
}

/* Special for header adjustment */
@media (max-width: 679px) {
  #fd-share-buttons {
    float: none;
    margin-top: 10px;
  }

  .btn-lg {
    font-size: 14.5px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }

  .fd-commitmessage, .fd-commitname, .fd-commitdate {
    font-size: 11px;
  }
}
